.lead__image {
/* width: 76.875%;  */
max-width: 984px; 
min-width: 928px;  
justify-self: center;
aspect-ratio: 16 10;
 margin: 56px auto 0; 
}
 
@media screen and (max-width: 1024px) { 
.lead__image { 
  min-width: 2px;
  max-width: 928px; 
  width: 90.625vw;  
} 
} 
 
@media screen and (max-width: 768px) { 
.lead__image { 
  min-width: 288px; 
  width: 100%; 
  margin: 56px 0 0 0;
} 
} 
 
@media screen and (max-width: 320px) { 
.lead__image { 
  margin: 40px 0 0;
  width: 100%; 
} 
} 